.login-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #00000090;
    display: grid;
    overflow-y: auto;
  }
  .login-form {
    place-self: center;
    width: 445px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
    border-radius: 15px;
    animation: blink 0.3s;
  }
  .login-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  .login-inputs {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .login-inputs .name {
    margin-top: 10px;
    display: flex;
    gap: 15px;
  }
  .login-inputs input {
    outline: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
  }
  .login-form button {
    border: none;
    padding: 15px 20px;
    color: white;
    background-color: black;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
  }
  
  @media (max-width: 550px) {
    .login-form {
      width: 350px;
      padding: 15px 25px;
    }
  }
  @media (max-width: 550px) {
    .login-inputs .name {
      flex-direction: column; 
    }
  }